<div id="more_info" class="column col_to_row">
    <div id="links" class="column">
        <div class="column">
            <h4>Zapraszamy</h4>
            <p>Zadzwoń, zarezerwuj i przyjedź do Łeby. Jesteśmy dostępni przez telefon, Booking oraz Airbnb.</p>
        </div>
        <div class="column">
            <h4>Odwiedź również:</h4>
            <a class="noSelect" href="http://www.lebskiechatki.pl">www.lebskiechatki.pl - Domki dla całej rodziny.</a>
            <a class="noSelect" href="http://www.asartceramika.pl">www.asartceramika.pl - Piękna ceramika</a>       
        </div>
    </div>
    <div id="map">
            <div class="mapouter">
                <div class="gmap_canvas">
                    <iframe width="100%" height="100%" src="https://maps.google.com/maps?q=Agra%20Zielony%20Ogr%C3%B3d+(Zielony%20Ogr%C3%B3d)&amp;ie=UTF8&amp;t=&amp;z=11&amp;iwloc=B&amp;output=embed" frameborder="0" scrolling="no"></iframe>
                </div>
                <style>.mapouter{text-align:right;height:100%;width:100%;}.gmap_canvas {overflow:hidden;background:none!important;height:100%;width:100%;}</style>
        </div> 
    </div>
</div>
<footer class="column">
<div id="copyright">Wszystkie prawa zastrzeżone © Zielony Ogród 2019</div>
<div id="small_menu" class="row">
        <a class="noSelect" href="gallery.html">Galeria</a>
        <a class="noSelect" href="index.html">Start</a>
        <a class="noSelect" href="contact.html">Kontakt</a>
</div>
</footer>