<main>
    <div id="gallery">
        <button id="prev"> ❮ </button>
        <button id="next"> ❯ </button>
        <div id="button_gallery">
            <img class="active" srcset="../assets/photos/(1).jpg,
            ../assets/mobile/photos/(1).jpg 420w" sizes="100vw" alt="zdjecia">
            <img srcset="../assets/photos/(2).jpg,
            ../assets/mobile/photos/(2).jpg 420w" sizes="100vw" alt="zdjecia">
            <img srcset="../assets/photos/(3).jpg,
            ../assets/mobile/photos/(3).jpg 420w" sizes="100vw" alt="zdjecia">
            <img srcset="../assets/photos/(4).jpg,
            ../assets/mobile/photos/(4).jpg 420w" sizes="100vw" alt="zdjecia">
            <img srcset="../assets/photos/(5).jpg,
            ../assets/mobile/photos/(5).jpg 420w" sizes="100vw" alt="zdjecia">
            <img srcset="../assets/photos/(6).jpg,
            ../assets/mobile/photos/(6).jpg 420w" sizes="100vw" alt="zdjecia">
            <img srcset="../assets/photos/(7).jpg,
            ../assets/mobile/photos/(7).jpg 420w" sizes="100vw" alt="zdjecia">
            <img srcset="../assets/photos/(8).jpg,
            ../assets/mobile/photos/(8).jpg 420w" sizes="100vw" alt="zdjecia">
            <img srcset="../assets/photos/(9).jpg,
            ../assets/mobile/photos/(9).jpg 420w" sizes="100vw" alt="zdjecia">
            <img srcset="../assets/photos/(12).jpg,
            ../assets/mobile/photos/(12).jpg 420w" sizes="100vw" alt="zdjecia">
            <img srcset="../assets/photos/(13).jpg,
            ../assets/mobile/photos/(13).jpg 420w" sizes="100vw" alt="zdjecia">
            <img srcset="../assets/photos/(14).jpg,
            ../assets/mobile/photos/(14).jpg 420w" sizes="100vw" alt="zdjecia">
            <img srcset="../assets/photos/(15).jpg,
            ../assets/mobile/photos/(15).jpg 420w" sizes="100vw" alt="zdjecia">
            <img srcset="../assets/photos/(16).jpg,
            ../assets/mobile/photos/(16).jpg 420w" sizes="100vw" alt="zdjecia">
            <img srcset="../assets/photos/(17).jpg,
            ../assets/mobile/photos/(17).jpg 420w" sizes="100vw" alt="zdjecia">
            <img srcset="../assets/photos/(18).jpg,
            ../assets/mobile/photos/(18).jpg 420w" sizes="100vw" alt="zdjecia">
            <img srcset="../assets/photos/(19).jpg,
            ../assets/mobile/photos/(19).jpg 420w" sizes="100vw" alt="zdjecia">
            <img srcset="../assets/photos/(20).jpg,
            ../assets/mobile/photos/(20).jpg 420w" sizes="100vw" alt="zdjecia">
            <img srcset="../assets/photos/(21).jpg,
            ../assets/mobile/photos/(21).jpg 420w" sizes="100vw" alt="zdjecia">
            <img srcset="../assets/photos/(22).jpg,
            ../assets/mobile/photos/(22).jpg 420w" sizes="100vw" alt="zdjecia">   
        </div>
    </div>
    <div class="container mt-2">
        <div  class="row">
            <div class="col col-md-6 offset-md-3 text-justify">
                <h3 class="text-center">Wyposażenie</h3>
                <p>Każdy pokój posiada łazienkę, telewizor oraz lodówkę. Dla wszystkich gości zapewniamy wspólną kuchnię, miejsce do grillowania, wifi oraz darmowy parking.
                    Do dyspozycji mamy również łóżeczko oraz fotelik dziecięcy. Na posesji jest również huśtawka oraz hamak :)
                </p>
            </div>
            </div>
    </div>
</main>