<main>
    <div id="gallery">
        <button id="prev"> < </button>
        <button id="next"> > </button>
        <div id="button_gallery">
            <img class="active" src="../assets/photos/(1).jpg" alt="zdjecia">
            <img src="../assets/photos/(2).jpg" alt="zdjecia">
            <img src="../assets/photos/(3).jpg" alt="zdjecia">
            <img src="../assets/photos/(4).jpg" alt="zdjecia">
            <img src="../assets/photos/(5).jpg" alt="zdjecia">
            <img src="../assets/photos/(6).jpg" alt="zdjecia">
            <img src="../assets/photos/(7).jpg" alt="zdjecia">
            <img src="../assets/photos/(8).jpg" alt="zdjecia">
            <img src="../assets/photos/(9).jpg" alt="zdjecia">
            <img src="../assets/photos/(10).jpg" alt="zdjecia">
            <img src="../assets/photos/(11).jpg" alt="zdjecia">
            <img src="../assets/photos/(12).jpg" alt="zdjecia">
            <img src="../assets/photos/(13).jpg" alt="zdjecia">
            <img src="../assets/photos/(14).jpg" alt="zdjecia">
            <img src="../assets/photos/(15).jpg" alt="zdjecia">   
            <img src="../assets/photos/(16).jpg" alt="zdjecia">
            <img src="../assets/photos/(17).jpg" alt="zdjecia">
            <img src="../assets/photos/(18).jpg" alt="zdjecia">
            <img src="../assets/photos/(19).jpg" alt="zdjecia">
            <img src="../assets/photos/(20).jpg" alt="zdjecia">
            <img src="../assets/photos/(21).jpg" alt="zdjecia">
            <img src="../assets/photos/(22).jpg" alt="zdjecia">    
        </div>
    </div>
    <div class="container mt-2">
        <div  class="row">
            <div class="col col-md-6 offset-md-3 text-justify">
                <h3 class="text-center">Wyposażenie</h3>
                <p>Każdy pokój posiada łazienkę, telewizor oraz lodówkę. Dla wszystkich gości zapewniamy wspólną kuchnię, miejsce do grillowania, wifi oraz darmowy parking.
                    Do dyspozycji mamy również łóżeczko oraz fotelik dziecięcy. Na posesji jest również huśtawka oraz hamak :)
                </p>
            </div>
            </div>
    </div>
</main>