<main class="column">
     <div id="slide_show">
         <img src="../assets/slide_show/banner_1.jpg" alt="zdjecia">
     </div>
     <div  class="column info_width">
         <div id="info" class="column col_to_row">
             <img src="../assets/others/line_1.png" alt="ozdobnik">
             <div id="about_us" class="column">
                 <h2>O nas</h2>
                 <p>Serdecznie witamy i zapraszamy do Łeby na złocistą plażę, Wydmy Ruchome, morską bryzę. Mile spędzisz czas w nadmorskim klimacie w miejscu o niepowtarzalnych warunkach krajobrazowych i przyrodoleczniczych zapewniając sobie zdrowie i wypoczynek. Do dyspozycji gości oferujemy pokoje gościnne z dostępem do kuchni, grila, parking na terenie obiektu.</p>
             </div>
             <div id="other" class="column">
                     <h2>Lokalizacja</h2>
                     <p>Posesja usytuowana jest w samym centrum Łeby przy Al.Wojska Polskiego graniczącej z miejskim sosnowym lasem i prowadzącej do plaży. Centralne położenie obiektu zapewnia łatwy dostęp do infrastruktury miejskiej - plaża 600m, kino 150m, taxi 100m, bary 50m, hala sportowa 40m,Orlik 200m, Rolkowiski 200m, Las 70m, promenada portowa 300m, sklepy 100m,PKP 600m, Wydmy Ruchome 8km Uwaga - posesja znajduje się w pewnym oddaleniu od ulicy ok.20m, dojazd jest możliwy od strony Al.Wojska Polskiego skręcając w prawo przed lub za restauracją "Fat Angelo's" "U Gruchy".</p>
             </div>    
             <img src="../assets/others/line_2.png" alt="ozdobnik">                  
         </div>
     </div>
 </main>

